.content-welcome{
    border-radius: 1rem;
    margin: 2rem;
    background-color: rgba(0, 132, 255, 0.377);
    padding: 5rem;
}

.footer{
    height: 7rem;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(37, 37, 37);
}
